body {
    font-family: 'Arial', sans-serif;
    background-color: #1e1e2f; /* Fundo escuro */
    color: #ffffff; /* Texto branco para contraste */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: #00bfff; /* Cor azul-clara para o título */
    font-size: 3rem;
    margin-bottom: 20px;
}

.container {
    background-color: #2a2a3b; /* Tom mais claro para o container */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 600px;
    text-align: center;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    background-color: #404050; /* Fundo do input */
    color: #ffffff; /* Texto branco */
}

button {
    background-color: #00bfff; /* Botão com azul-claro */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

button:hover {
    background-color: #009acd; /* Escurecer o botão no hover */
}

.weather-info {
    margin-top: 20px;
}

.weather-info p {
    font-size: 1.5rem;
    margin: 5px 0;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: #fff;
    margin-top: 2rem;
}
